<div class="inbox-wrapper">
<h2>Inbox</h2>
<div class="inbox-divider"></div>
<span style="color:#00AFF0;font-size:12px;">Request</span>
<div class="inbox-bar"></div>
<div class="inbox-content">

<span></span>
<span><b>Subject:</b></span>
<span ></span>
<%button_to 'Reply',{:controller=>"books",:action=>"new"},{:class=>"replybutton"} %>&nbsp;<%button_to 'Delete',{:controller=>"books",:action=>"new"},{:class=>"replybutton"} %>
<span style="color:#808080;font-size:11px;">Time</span>
<div class="dotted_line_divider">

</div>
</div>
