<div id="suggest">hey</div>
$('.responsebutton').click(function(e){ {e.preventDefault();   $('#suggest').dialog({
			   autoOpen:false,
			   buttons:{cancel:function(){$(this).dialog("close");},"suggest":function(){alert("school added");$(this).dialog("close");} },
			   width:370,
			   height:150,
			   position:'center'
			   });$('#suggest').dialog('open');}});
