
<%=render 'leftsection' %>
<div id="center">
<div class="container">
<h3>Request &Response</h3>
<div class="inbox-divider"></div>
<div class="inbox-content">

<div>
<span>john</span><br/>
<span>wants to reserve</span>&nbsp;<span>physics book</span> &nbsp;for <span>price</span>

<span><%=button_to'Decline',{:controller=>"books",:action=>"new"},{:class=>"denybutton"}%></span><span><%=button_to'Accept',{:controller=>"books",:action=>"new"},{:class=>"acceptbutton"}%></span>
</div>

</div>

<!--<%=render 'request'%> -->
</div>
</div>

