<div id="book-app">
  <table id="books-table">
    <thead>
      <tr>
        <td>Book</td>
        <td>Edition</td>
        <td>Author</td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div id="new-book-form" >
    <%= render 'books/form' %>
  </div>
  <%= button_to "Add a Book", {:controller=>"books",:action=>"new"}, {:class=>"addbookbutton"} %>
</div>
