<div id="book-app">
  <h4>My Books <span id=my-book-quantity></span></h4>

  <table id="books-table">

    <tbody></tbody>

  </table>

  <div id="new-book-form" >
    <%= form_for Book.new do |f| %>
      <%= f.text_field :title ,:class=>"addbook-field",:placeholder=>"Enter your textbook (optional)"%>
      <%= f.submit "Book Search", {:class=>"addbookbutton"} %>
    <%end%>
  </div>
 
<span class="bookfound">Books found <span class="loading"><%=image_tag('loading.gif')%></span></span>
</div>
 
