 <div class="header-wrapper">
<%= image_tag("machinelogo2.jpg", :alt => "camp",:class=>"logo") %>&nbsp;

    <span class="n-wrapper">  
    <ul class="n-menu" rel="sam1">  
    <li class="active"><a href="#">Home</a></li>  
    <li ><a href="#">Profile</a></li>  
    <li><a href="#">Account</a></li>  
     
   </ul>  

   </span>  
<input type="text" class="searchfield" id="search" size="50"/>
<button type="button" class="searchbutton">Search</button>
</div>
<div class="headerline"></div>
<div style="clear:both;"></div>
