<div class="email-line"></div>
<div class="email-background">
<span class="email-name">james</span> 
 
Cancelled book reservation for <span class="book-title">physics book </span>
   
</div>
<div class="email-line"></div>