<div class="email-line"></div>
<div class="email-background">
<span class="email-name">james</span> 
 
declined your offer for <span class="book-title">physics book </span>
   
   <a href='#'>Reserve again</a>
</div>
<div class="email-line"></div>