<div class="email-line"></div>
<div class="email-background">
<span class="email-name">james</span> 
  <span class="email-name"><%= @book_ownership.reserver.firstname %></span>
  <span class="last-name"> <%= @book_ownership.reserver.lastname %></span>
 
  cancelled the book reservation for 
  <span class="book-title"><%= @book_ownership.book.author %></span>
</div>
<div class="email-line"></div>
