<div class="email-line"></div>
<div class="email-background">
  <span class="email-name"><%= @book_ownership.reserver.firstname %></span>
  <span class="last-name"> <%= @book_ownership.reserver.lastname %></span>
  <br/>
  wants to reserve your book:
  <span class="book-title"><%= @book_ownership.book.author %></span>
  <br/>
  <a href='#'>Respond</a>
</div>
<div class="email-line"></div>
