<div class="inbox-wrapper">
<h2>Book reserve</h2>
<div class="inbox-divider"></div>
<div class="inbox-content">

<span>john</span><br/>
<span>wants to reserve</span><span>physics book</span>

<span><%=button_to'Deny',{:controller=>"books",:action=>"new"},{:class=>"denybutton"}%></span><span><%=button_to'Accept',{:controller=>"books",:action=>"new"},{:class=>"acceptbutton"}%></span>

</div>

</div>
