/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html{
  padding:0px;width: 100%;margin:0;
  min-width: 900px;
}
 
body {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 13px;
  width: 100%;
  min-width: 900px;
  padding:0px;
  margin:0;
}
.root-header{
 background-image:url('lgrey139.jpg'); 
 height:90px;
 min-width:900px;

}
/*menu bar */
.n-wrapper {   
height: 20px; 
margin-left:1%;width:100%;min-width:900px;

} 
ul {  
    margin: 0;  
    padding: 0;  
    }  
     
    ul.n-menu {  
        height: 40px;  
       border-left: 1px solid rgba(0,0,0,0.3);  
        border-right: 1px solid rgba(255,255,255,0.3);  
       float:left; 
        border-radius:3px 3px 3px 3px;
        -moz-border-radius:3px 3px 3px 3px;
       
   }  
     
   ul.n-menu li  { 
   
     list-style: none;  
       float:left;  
       height: 40px;  
      text-align: center;  
       background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(#00AFF0), to(#B6C3E7) );  
     background: -moz-radial-gradient(center 20px 45deg, circle cover, #00AFF0 60%, #B6C3E7 100%);  
      }  
     
   ul.n-menu li a {  
     text-decoration:none;
       color:white;
       display: block;  
       padding: 0 20px;  
       border-left: 1px solid rgba(255,255,255,0.1);  
      border-right: 1px solid rgba(0,0,0,0.1);  
       text-align: center;  
       line-height: 40px; 
        border-radius:3px 3px 3px 3px; 
         -moz-border-radius:3px 3px 3px 3px;
       background : -webkit-gradient(linear, left top, left bottombottom, from(rgb(168,168,168)), to(rgb(69,69,69)));  
      /* background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));  */
  -webkit-transition-property: background;  
  -webkit-transition-duration: 700ms;  
  -moz-transition-property: background;  
  -moz-transition-duration: 700ms;  
      } 
  
ul.n-menu li.first{
    border-radius:3px 0 0 3px;
    -moz-border-radius:3px 0 0 3px;
    -webkit-border-radius:3px;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    
    }
ul.n-menu li.last{
    border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    -webkit-border-radius:0;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;}     
  
  ul.n-menu li a:hover {     
   background:#3EBFEF;
     
   }      
 ul li.active a{  
       background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(#00AFF0), to(#B6C3E7) );  
       background: -moz-radial-gradient(center 20px 45deg, circle cover, #00AFF0 60%, #B6C3E7 100%);  
   }  
.registration{
position:absolute;
background:#EAEFF0;	
font-size: 14px;
margin-left:6%;
margin-top :1%;
width :500px;
-moz-border-radius:    5px;
-webkit-border-radius: 5px;
border-radius:         5px;
}
.header-background{
width:100%;
min-width:1000px; 
background:#BABBC5;
 height:75px; 
padding:0px;
margin-top:-15px;
background: -webkit-gradient(linear, 0 0, 0 90%,from(#ffffff),to(#BABBC5 )); 
background:-moz-linear-gradient(top, #ffffff, #BABBC5  40%);

}
.header-wrapper{width:100%;min-width:900px;margin-top:20px;}
.logo{height:80px;width:170px;float:left;margin-top:-25px;}
.logos{height:190px;width:190px;float:left;margin-top:-70px;}
.logo-png{height:220px;width:260px;border:none;margin-top:-70px;}
.titleline{margin-top:1px;	width:60px; border-top:solid #aaaaaa 1px;}
span.logout a{margin-left:850px;text-decoration:none;}
.headerline{
clear: both;	
margin-left: 0px;	
margin-top:0px;	
width:100%;
border-top:solid #07A7D8 2px;	
}
ul li{ list-style-type:none;}
.footerline{	clear:both;
margin-left: 5%;
margin-right:5%;	
margin-top:50%;	
width:90%;
border-top:solid #07A7D8 2px;
margin-top:50%;
}
.welcome-footerline{  
margin-left: 10%;
margin-right:10%; 
margin-top:100px;  
width:80%;
border-top:solid #07A7D8 2px;

}
.reg-footerline{clear:both;
margin-left: 10%;
margin-right:10%;
margin-top:475px;	
width:80%;
border-top:solid #07A7D8 2px;	

}

.reg-footer{margin-top:0%;
margin-left:40%;		
font-size:11px;
list-style-type: none;
text-decoration: none;	
}
.reg-footer li{float:left;	}
.line_separator{	
	margin-top:4px;	
	margin-bottom:4px;
	width:335px;
    border-top:solid #e6e6e6 1px;	
}


a.classlink{color:#0000FF;}

.classlink a:hover {
  color:#3b5998; 
  text-decoration:underline; 
}

.classlink a:link{color:#3b5998; text-decoration:none;}
.classlink a:visited{color:#3b5998; text-decoration:none;}
.round {
  padding:5px;	
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}
.fade{
	color:#808080;
	font-size:small;
	font-weight:500;
}
.ask{float:right;}
#ask-field{width:420px;}
.find{
background:grey;
text-decoration:none;
color:white;
-moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:    3px;
  padding:0px;
  font-weight:bold;
}
.nested-group{margin-left:60px;}
.calender{margin-left:60px;}
.menu_item{
   	zoom: 1;
   width:179px;
   border-bottom: 1px solid white;
   padding: 2px;
   text-decoration: none;	
   }  
 .menu_item:hover{
     background-color: #EFF2F7;
   text-decoration: none;	
    }
/*edit*/
.edit-info{
  margin-left:145px;padding:6px;background:#00AFF0;color:white;width:200px;text-align:center;
}
.finalbutton{
   margin-top:40px;
  float:left;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#00AFF0;
    border:none;
    font-weight:bold;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.left{
 margin-top:5px; 
 margin-left:1%;
  float:left;
  padding-right:5px;
  width : 350px;
 min-width:25%;
}
.alpha{
  padding:0px;
  background:#DB8D1F;
  color:white;
  -moz-border-radius:3px;
-webkit-border-radius:3px;
 border-radius:3px;
}
.searchfield{ 
float:left;	
-moz-border-radius:5px;
-webkit-border-radius:5px;
 border-radius:5px;
 padding:10px;
 }
.firstname{color:#0000FF;}
.full_name {
 float:left; 
font-weight:bold;
color:#3299CC; 
}
span.edit a{color:#414449;text-decoration:none;font-size:11px;}
span.edit a:hover{color:#414449;text-decoration:underline;font-size:11px;}
.edit-profile a{color:#414449;text-decoration:none;font-size:11px;float:right;} 
.edit-profile a:hover{color:#414449;text-decoration:underline;font-size:11px;float:right;}
.reserve{color:red;font-size:11px;}
.deletebook a:link {
color:#808080; 
text-decoration:none; 
}
.listbook{list-style-type:none;}
.deletebook{font-weight:400;font-size:11px;} 
.deletebook  a:visited {
color:blue; 
text-decoration:none; 
}
.title a{text-decoration:none; }
 .loading img{height:16px;width:16px;}
.bookfound {margin-left:30%;margin-top:20%;color:#1EC313;font-weight:bold;}
.addbook-field{
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;	
 padding:9px;width:90%;
 font-size:15px;
}
.deletebook  a:hover {
color:#3b5998; 
text-decoration:underline; 
}
.backbutton{
	margin-left:140px;
	margin-top:40px;
	float:left;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#00AFF0;
    border:none;
    font-weight:bold;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.savebutton{
	margin-top:40px;
	float:left;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#00AFF0;
    border:none;
    font-weight:bold;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.add{
    padding:5px 6px 5px 6px;
    color:white;
    background-color:#00AFF0;
    border:none;
    font-weight:bold;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.denybutton{
    margin:2px;
    float:left;
    padding:5px 6px 5px 6px;
    color:white;
    background-color:#B4BBCD;
    border:none;
    font-weight:bold;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
     background: -webkit-gradient(linear, 0 0, 0 50%, from(#B4BBCD), 
   color-stop(90%,#B4BBCD),color-stop(50%,#D1D1D2)); 
    background:-moz-linear-gradient(top, #B4BBCD, #D1D1D2, #B4BBCD 30%); 
}
.declinebutton{
	float:left;
    padding:5px 6px 5px 6px;
    color:white;
    background-color:#B4BBCD;
    border:none;
    font-weight:bold;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
  background:-moz-linear-gradient(top, #B4BBCD, #C2C6F5 50%, #B4BBCD 50%);
  background: -webkit-gradient(linear, 0 0, 0 50%, from(#B4BBCD), 
color-stop(90%,#B4BBCD),color-stop(80%,#C2C6F5));
}
.acceptbutton{margin:2px;
	float:left;
    padding:5px 6px 5px 6px;
    color:white;
    background-color:#4CC639;
    border:none;
    font-weight:bold;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
 background: -webkit-gradient(linear, 0 0, 0 50%, from(#4CC639), 
   color-stop(90%,#4CC639),color-stop(50%,#D1D1D2)); 
    background:-moz-linear-gradient(top, #4CC639, #D1D1D2, #4CC639 30%); 

}
.sold-button{
	float:left;
    padding:5px 6px 5px 6px;
    color:white;
    background-color:#E2555A;
    border:none;
    font-weight:bold;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.addbookbutton{
    padding:5px 5px 5px 5px;
    color:white;
    background-color:black;
    border:none;
    font-size:11px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background: -webkit-gradient(linear, 0 0, 0 50%, from(black), 
   color-stop(90%,black),color-stop(50%,#2A303C)); 
    background:-moz-linear-gradient(top, black, #2A303C, black 30%); 
    }
 
.searchbutton{
  float:left;
  border:none;
	padding:10px 20px 10px 20px;
    color:white;
    background-color: #000;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
   background:-moz-linear-gradient(top, #000, #515161 50%, #000 10%);
  background: -webkit-gradient(linear, 0 0, 0 50%, from(#000), 
  color-stop(90%,#000),color-stop(50%,#515161));  
}
.searchbutton:hover{
 background-color: #000;	
 background:-moz-linear-gradient(top, #000, #000 50%, #515161 10%);
  background: -webkit-gradient(linear, 0 0, 0 50%, from(#515161), 
  color-stop(90%,#515161),color-stop(50%,#000 )); 
 /*-webkit-box-shadow:0px 0px 8px #000;-moz-box-shadow:0px 0px  8px #000;*/
}
.headerbox{
	margin-top:20px;
	margin-left:140px; 
}
.sign_up_button{
 padding:5px 9px 5px 9px;
    color:white;
    background-color: #45C01B;
    border:none;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
    background:-moz-linear-gradient(top, #45C01B, #C2C6F5  50%, #45C01B 10%);
  background: -webkit-gradient(linear, 0 0, 0 50%, from(#45C01B), 
  color-stop(90%,#45C01B),color-stop(50%,#C2C6F5 ));  
}
.photo{margin-top:3px;float:left;}
.sign_up_button :hover{#7CED64;}
.myreserved{background:#31C918;padding:4px;color:white; font-weight:bold;}
.pending{background:#EDD512;padding:4px;color:white; font-weight:bold;}
.reserved{background:#ED4B12;padding:4px;color:white; font-weight:bold;}
.side-box{
overflow:hidden; 
margin-top:10px;	
border:1px solid #dedede;	
display:block;
width:340px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}

.side-box h4{
background-color:#00AFF0;	
padding:6px;
margin-top: 0px;
background:-moz-linear-gradient(top, #00AFF0, #66D2FA, #00AFF0 30%);
background: -webkit-gradient(linear, 0 0, 0 50%, from(#00AFF0 ), 
color-stop(90%,#00AFF0 ),color-stop(50%,#66D2FA));  
}
.sidebox-content{
padding-left: 4px;	
color: #00AFF0; 
text-decoration:none; 
margin-left: 4px;
}
a.sidebox-content:hover {
color: #00AFF0;
text-decoration:underline; 
}
a.sidebox-content:link {
color: #00AFF0; 
text-decoration:none; 
}
a.sidebox-content:visited {
color: #00AFF0; 
text-decoration:none; 
}


#right{
  float:left;
  margin-top :10px;
  width : 20%;

}
.right-side-box{
margin-top:10px;	
border:1px solid #dedede;	
display:block;
width:340px;
height:250px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
.right-side-box h4{
background-color:#dedede;	
padding:8px;
margin-top: 0px;
}
.needhelp {
	padding-left:3px;
	text-decoration:none;
	font: 12px Tahoma;
	font-weight:bold;
	color: #00AFF0;
}
.needhelp a:hover{
	color:#3b5998; 
  text-decoration:underline; 
}
.needhelp a:link{color:#3b5998; text-decoration:none;}
.needhelp a:visited{color:#3b5998; text-decoration:none;}

#center {	
  float:left;
  width:50%;
  margin-top:10px;
 height:96%;
}
#auto-center{margin-left:15%;}
.centered {	
  float:left;
  width:10%;
  margin-top:10px;
 height:96%;

}
.container{
height:96%;min-height:800px;
margin-top:3px;	
border:2px solid #dedede;	
width:600px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}

#status{margin-left:50px;}
.fieldbackground{background:#EFF2F7; }
#general-field{	font-size:18px;
  width:100%;
  margin-left:5px;		
  margin-top:2px;	
  border: 5px solid #dedede; padding: 5px; width: 540px;
}
span a#post-user{
 
font-weight:bold;
color:#3299CC; 
text-decoration:none; 
}
span  a#post-user:visited {
color:#3299CC; 
text-decoration:none; 
}
span  a#post-user:hover {
color:#3299CC; 
text-decoration:underline; 
}
.inline_table{
  display: inline-table;
  position: relative;float:left;
}
.inline_tables{
  display: inline-table;
  position: relative;float:left;
  width:400px;
}
.field-wrapper{
 background:#EEF0F7; 
 padding:0px;
 margin:10px;
 width:95%;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;

}
.post-sent{float:right;color:#808080;}
.post-background:hover{padding:0px;background:#EFF2F7;}
#responsebutton{	
float:left;
 margin:2px;
 padding:3px 10px 3px 10px;
 color:black;
 background-color: #aaa;
 border:black;
 font-weight:300;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 background:-moz-linear-gradient(top, #C2C6F5, #aaa 50%, #aaa 50%); 
 background: -webkit-gradient(linear, 0 0, 0 50%, from(#aaa ), 
color-stop(90%,#aaa ),color-stop(50%,#C2C6F5));  
}
#books-table {
  border-collapse: collapse;
  border-spacing: 0;
}
#books-table tr.book {
  width:100%;
  border-bottom:solid #e6e6e6 1px; 
} 
#searched-books-table thead{padding:2px;background:blue;}
/*#books-table tr td{width:10px;}*/

/*#posts-table{
  border-collapse: collapse;
  border-spacing: 0;
}*/

#posts-table tr.post td{
 width:600px;
border-bottom:solid #e6e6e6 1px; 
} 
/*#posts-table tr.post td:hover { background:#EFF2F7; }

tr.post div.post-line{  width:100%;
border-bottom:solid #e6e6e6 1px;}*/
#responsebutton:hover{-webkit-box-shadow:0px 0px 5px #000;-moz-box-shadow:0px 0px  5px #000;background:#31C918;color:white;}
 span.post-content{
  word-wrap:break-word;
   font-size:12px;
   clear:both;
  
 }
 .collection_check_boxes{
   color:white;
   padding:4px;
   background:black;
   text-align: center;
   max-width:75px;
  -moz-border-radius:3px;
-webkit-border-radius: 3px;
border-radius:3px;
background: -webkit-gradient(linear, 0 97%, 0 0%, from(black),to(#454854) 
  ); 
    background:-moz-linear-gradient(top, black, #454854, black 30%); 

 }
.collection_check_boxes:hover{
   background:#5A5B5E;
   
 }
.active-state{background:#848894; color:black;
background: -webkit-gradient(linear, 0 97%, 0 0%, from(#848894),to(#B5B5B5) 
  ); 
background:-moz-linear-gradient(top, #848894, #B5B5B5 80%); }
 .inline_table img{height:50px;width:50px;}
  .mock img{height:50px;width:50px;}
/*.post-pic{float:left;}*/
.postbutton{
 margin-left:480px;	
 padding:6px 18px 6px 18px;
 background-color: #00AFF0;
 border:1px solid #808080;
 font-weight:bold;
 color:white;
 /*
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;	
 background:-moz-linear-gradient(top, #00AFF0, #C2C6F5 50%, #00AFF0 50%);
background: -webkit-gradient(linear, 0 0, 0 50%, from(#00AFF0), 
color-stop(90%,#00AFF0),color-stop(80%,#C2C6F5));
*/

background:-moz-linear-gradient(top, #00AFF0, #66D2FA, #00AFF0 30%);
background: -webkit-gradient(linear, 0 0, 0 50%, from(#00AFF0 ), 
color-stop(90%,#00AFF0 ),color-stop(50%,#66D2FA));  
}
.check-course{color:blue;}
/*
.postbutton:hover{
background:#5686DC; 
background:-moz-linear-gradient(top, #C2C6F5, #00AFF0 50%, #00AFF0 50%); background: -webkit-gradient(linear, 0 0, 0 50%, from(#00AFF0), 
  color-stop(20%,#C2C6F5),color-stop(60%,#00AFF0));
}
  */
.replybutton{
   margin-left:350px;	
   padding:3px 4px 3px 4px;
    color:white;
    background-color: #00AFF0;
    border:1px solid #006600;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;	
}
input.reply-field{padding:20px;}
.needhelpform{background:#E5E5E5;border:solid #b4bbcd 1px;margin-bottom:3px;}
.list-items {margin-top:12px; margin-left:34px;}
.homecontainerline{	clear:both;
width:100%;
border-top:dotted #aaaaaa 1px;
}
.message-title{
  padding:7px;
  background:#BCBCCD;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  background:-moz-linear-gradient(top, #BCBCCD, #DEDEE7 , #BCBCCD 30%);
  background: -webkit-gradient(linear, 0 0, 0 50%, from(#BCBCCD), 
  color-stop(90%,#BCBCCD),color-stop(50%,#DEDEE7));  

}
.container-dotted{   
width:600px;
border-bottom:dotted #e6e6e6 1px; 
clear:both;
}
a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  clear: both;
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#progress{margin-left:145px;width:45%;}

label#amount {margin-left:145px;}

.edit-profile-sidebar { margin-left:20px; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
}
html fieldset{
position:relative;
margin-top:1em;
padding-top: 2em;
padding-bottom:2em;
width:40%;
min-width:500px;
background:#E2E9E9;max-width:600px;
}
label{
	width:10em;
	float:left;
	text-align: left;
	margin-right:0.2em;
	display:block;
}
legend {
   color:white;
   background:#00AFF0;
   padding:.4em 0.6em
}
/*profile styling*/
#profile-left{
margin-left:2%;
margin-top:2%;
float:left;
padding:25px;
width : 60%;
min-width:620px;
background:#C7DCF5;
-moz-border-radius:3px;
-webkit-border-radius: 3px;
border-radius:3px;
}
.details
{background:#C7DCF5;
 padding:20px;
 font-size:13px;
 color:#45515E; 
}
.report{
 background:#677CAD;
 padding:3px;
 color:black;
 width:120px;
 -moz-border-radius:3px;
-webkit-border-radius: 3px;
border-radius:3px;
} 
.profile-wrapper{
background:#C7DCF5;  
/*border: solid #808080 1px;*/
width:600px;	
margin-top:5px;	
padding:50%;
/*border-right: solid #808080 1px;*/
/*height:700px;
/*border-bottom:  solid #808080 1px;*/
-moz-border-radius:3px;
-webkit-border-radius: 3px;
border-radius:3px;

}
.connectbutton
{float:left;margin-left:40px;
 padding:4px 28px 4px 28px;
 color:white;
 background-color:#00A6CC;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;	
}
.messagebutton
{
 padding:4px 28px 4px 28px;
 color:white;
 background-color:#7F7F7F;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;		
}
 .lightline{margin-top:1px;width:400px; border-top:dotted #aaaaaa 1px;}  
.proline_separator{	
	clear:both;
	margin-left:9%;
	margin-top:10px;	
	margin-bottom:8px;
	width:255px;
    border-top:solid #e6e6e6 1px;	
	}
#profile-center {
  float:left;
  width:30%;
  margin-top:10px;
 height:96%;

}
.reservebutton{
 border:solid #7AEB7D 1px; 
padding:2px 12px 2px 12px;
 color:white;
 background-color:#31C918;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;		
}
.result-reservebutton{
padding:2px 5px 2px 5px;
 color:white;
 background-color: #00CD00;
 font-weight:500px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;   
}
.profile-name{
font-size:26px;	
font-family:"Lucida Grande";
color:#666666;
font-weight: bold;
}
.schoolname{
font-size: 18px;color:#00A6CB;}
.major{font-size: 14px;color:#333333;}
.current-class{
font-size: 12px;
color:#808080;	
}

.line_divider{	
	clear:both;
	margin-top:5px;	
	margin-bottom:8px;
	width:440px;
    border-top:solid #e6e6e6 1px;	
	}
.profile-titles{
	padding:6px;
	background-color:#00AFF0;
	font-weight: bold;
	font-size: 14px;
	border:solid #00AFF0 1px; 
	width:440px;
	margin-top:10px;
  background:-moz-linear-gradient(top, #00AFF0, #C2C6F5, #00AFF0 30%);
background: -webkit-gradient(linear, 0 0, 0 50%, from(#00AFF0 ), 
color-stop(90%,#00AFF0 ),color-stop(50%,#C2C6F5));  
}

.dotted_line_divider{	
	clear:both;
	margin-top:5px;	
	margin-bottom:8px;
	width:440px;
    border-top:dotted #e6e6e6 1px;	
	}
.subject{color:#808080;font-weight:bold;}
.topic{font-weight:500;color:#626262;}
.knowledgedetails{margin-left:50px;}
.past-classes{color:#808080;font-size:12px;}
.footer{
margin-top:0%;	
margin-left:60%;		
font-size:11px;
list-style-type: none;
text-decoration: none;
}

.footer li{float:left;	}
.homefooter{
position:absolute;	
left:800px;	
top:795px;
font-size:11px;
list-style-type: none;
text-decoration: none;
}
.homefooter li{float:left;	}
/*search*/
.result-name{
color:#666666;
font-weight: bold;
font-size: 12px;	
}
.resultschool-name{font-size: 12px;color:#00A6CB;}
/*Inbox*/
.inbox-wrapper{	
padding:0px;
background:#E5E9EB;  
margin:10px auto;	
border:1px solid #808080;	
width:450px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;	

}
.inbox-divider{margin-top:10px;border-top:solid #00AFF0 3px;}
.inbox-bar{border-right:solid #808080 1px;margin-right:30px;height:20px;}
.inbox-content{
width:90%;
font-size:14px;
border:solid #dedede 1px;
background:#E5E9EB;margin:10px auto;
-moz-border-radius:3px;
-webkit-border-radius: 3px;
border-radius:3px;
}
.inbox-dotted-line{	
	clear:both;
	margin-top:5px;	
	margin-bottom:8px;
	width:500px;
    border-top:dotted #808080 1px;	
	}
.inbox-button{
margin-top:5px;	
float:left;	
padding:3px 4px 3px 4px;
color:#000;
background-color: #B4BBCD;
border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:0px;
 -webkit-border-radius:0px;
border-radius:0px;
}
/*Account setting*/
.setting-wrapper{
background-color:#E2E9E9;
top:20px;	
border:1px solid #dedede;	
display:block;
width:500px;
height:400px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
.setting-line{
	margin-top:5px;	
	width:500px;
    border-top:solid #dedede 2px;
}
.setting-wrapper h4{
	padding:5px;
	background-color:#00AFF0;
	width: 200px;
	margin-left:130px;
}
.delete-account-button{
	margin-left:170px;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#E3545D;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.setting-dotted-line{
	margin-left:110px;
	margin-top:5px;	
	width:250px;
    border-top:dotted #D1D3CC 1px;
}
/*sign in*/
.sign-background{
width:100%;	
min-width:900px;
margin:0;	
background:#00AFF0;
height:200px;
background:-moz-linear-gradient(top, #00AFF0, #57C6EF 70%);
background: -webkit-gradient(linear, 0 0, 0 90%,from(#00AFF0),to(#57C6EF ));color:white;
min-width:1000px;
}
.diagrams
{
margin-left:5%;
padding:5px;
min-width:900px;
margin-bottom:25px;
}
.network{
  width:430px;
  height:250px;
}
.sales-pitch{margin:auto;}
.sign-field{
 -moz-border-radius:    5px;
 -webkit-border-radius: 5px;
 border-radius:         5px; 
 width:150px; 
 padding:5px;
}
.sign-footer{
background:black;
}
#sign-in-form{z-index:1;
	background:#fff;
	color:#65686C;
	width:300px;
	border:solid #E2E9E9 3px ;
}
#sign-in-form h3{padding:5px;background:#E2E9E9;margin-top:0px;}
.login-line{border:solid #424667 2px ;width:150px;margin-bottom:10px;}
.login-headline{border-top:solid white 3px;width:480px;}

.sign-in-dotted{border-top:dotted #808080 1px;width:300px;}

.login-bold-text{
margin-left:20%;margin-bottom:30%;
color:#00AFF0;
font-size:24px;
font-family:"Bookshelf Symbol 7";  
font-weight:bolder}
.sign_in_button{
 padding:5px 9px 5px 9px;
    color:white;
    background-color: #45C01B;
    border:none;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
    background:-moz-linear-gradient(top, black, #C2C6F5  50%, black 10%);
  background: -webkit-gradient(linear, 0 0, 0 50%, from(black), 
  color-stop(90%,black),color-stop(50%,#C2C6F5 ));  
}
/*edit profile*/
.edit-form {
  font-weight:bold;
  float:left;
  width:200px;
}

.edit-line{
  margin-top:4px; 
  margin-bottom:4px;
  width:150px;
  
}
ul.edit-form  li {padding-bottom:10px;}
ul.edit-form  li a{text-decoration:none;color:black;}
ul.edit-form  li :hover
{
background-color:#E2E9E9;
border:solid #808080 1px;
padding:4px;
width:50px;
}

ul.edit-form  li :active
{
background-color:#E2E9E9;
border:solid #E2E9E9 1px;
padding:4px;
width:50px;
}
/*email */
.email-line
{
width:60%;
border-top:solid #07A7D8 2px;   
}
.email-background{
  font-size:15px;
  margin-top:30px;
  margin-bottom:30px;

}
.email-name {
font-weight:bold;
color:#3299CC; 
}
/*Groups*/
.group-title{
font-size:15px;
font-weight:bold;
text-align:center;
}

td.post-reply { background: #EFF2F7; }

td.num_parents_1 { padding-left:40px; }
td.num_parents_2 { padding-left:60px; }
td.num_parents_3 { padding-left:80px; }
td.num_parents_4 { padding-left:120px; }
td.num_parents_5 { padding-left:140px; }
td.num_parents_6 { padding-left:160px; }
td.num_parents_7 { padding-left:180px; }
