/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}
.registration{
 font-size: 14px;
  position : absolute;
  right:200px;
  top :50px;
  width : 24%;
  padding : 3px;	
}

.header-wraper{margin-top: 15px;}
.logo{height:140px;width:160px;float:left;margin-top:-50px;}
.titleline{margin-top:1px;	width:60px; border-top:solid #aaaaaa 1px;}
.headerline{
clear: both;	
margin-left: 0px;	
margin-top:0px;	
width:1000px;
border-top:solid #aaaaaa 1px;	
}
.footerline{	
margin-left: 50px;	
margin-top:660px;	
width:1400px;
border-top:solid #dedede 1px;	
}
.line_separator{	
	margin-top:4px;	
	margin-bottom:4px;
	width:335px;
    border-top:solid #e6e6e6 1px;	
	}
a.classlink{color:#0000FF;}
.classlink a:hover{
  color:#3b5998; 
  text-decoration:underline; 
}
.classlink a:link{color:#3b5998; text-decoration:none;}
.classlink a:visited{color:#3b5998; text-decoration:none;}
.round {
  padding:5px;	
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}
.fade{
	color:#808080;
	font-size:small;
	font-weight:500;
}

.menu_item{
   	zoom: 1;
   width:179px;
   border-bottom: 1px solid white;
   padding: 2px;
   text-decoration: none;	
   }  
 .menu_item:hover{
     background-color: #EFF2F7;
   text-decoration: none;	
    }
#left{
  position : absolute;
  width : 24%;
  margin-top : 10px;
  padding : 3px;
}

.searchfield{
  position:absolute;
-moz-border-radius:5px;
-webkit-border-radius:5px;
 border-radius:5px;
 padding:5px;
 }
.firstname{color:#0000FF;}
.full_name {
font-weight:bold;
color:#3299CC; 
}
a.full_name:visited {
color:#3299CC; 
text-decoration:none; 
}
a.full_name:hover {
color:#3299CC; 
text-decoration:underline; 
}
.booktitle{color:#6f6fff;}
.reserve{color:red;font-size:11px;}
.deletebook a:link {
color:#808080; 
text-decoration:none; 
}
.listbook{list-style-type:none;margin-left:-40px; }
.deletebook{font-weight:400;font-size:11px;} 
.deletebook  a:visited {
color:blue; 
text-decoration:none; 
}
.deletebook  a:hover {
color:#3b5998; 
text-decoration:underline; 
}
.savebutton{
    margin:10px 0 0 2px;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#00AFF0;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.declinebutton{
	margin:10px 0 0 2px;
    padding:5px 6px 5px 6px;
    color:white;
    background-color:#dedede;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.acceptbutton{
	margin:10px 0 0 2px;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#49E20E;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.addbookbutton{
    margin:10px 0 0 2px;
    padding:5px 12px 5px 12px;
    color:white;
    background-color:#00AFF0;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    }
 
.searchbutton{
  margin-left:440px;
  position:absolute;
	padding:5px 9px 5px 9px;
    color:white;
    background-color: #00AFF0;
    border:1px solid #006600;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
}
.headerbox{
	margin-top:20px;
	margin-left:140px; 
}
.sign_up_button{
 padding:5px 9px 5px 9px;
    color:white;
    background-color: #00AFF0;
    border:1px solid #006600;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
}

.side-box{
margin-top:10px;	
border:1px solid #dedede;	
display:block;
width:340px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}

.side-box h4{
background-color:#00AFF0;	
padding:6px;
margin-top: 0px;
}
.sidebox-content{
padding-left: 4px;	
color: #00AFF0; 
text-decoration:none; 
margin-left: 4px;
}
a.sidebox-content:hover {
color: #00AFF0;
text-decoration:underline; 
}
a.sidebox-content:link {
color: #00AFF0; 
text-decoration:none; 
}
a.sidebox-content:visited {
color: #00AFF0; 
text-decoration:none; 
}



#right{
  position : absolute;
  right:-740px;
  top :0px;
  width : 24%;
}
.right-side-box{
margin-top:10px;	
border:1px solid #dedede;	
display:block;
width:340px;
height:250px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
.right-side-box h4{
background-color:#dedede;	
padding:8px;
margin-top: 0px;
}
.needhelp {
	padding-left:3px;
	text-decoration:none;
	font: 12px Tahoma;
	font-weight:bold;
	color: #00AFF0;
}
.needhelp a:hover{
	color:#3b5998; 
  text-decoration:underline; 
}
.needhelp a:link{color:#3b5998; text-decoration:none;}
.needhelp a:visited{color:#3b5998; text-decoration:none;}
#center {
  position : absolute;
  left:350px;
  width:20%;
  top:0px;
}
.container{
margin-top:3px;	
border:1px solid #dedede;	
display:block;
width:550px;
height:800px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
.fieldbackground{background:#EFF2F7; }
.general-field{	
margin-left:35px;		
margin-top:2px;	
width:465px; height:30px;
border:solid #b4bbcd 1px;
font-size:14px;
color:#808080;
}
.postbutton{
 margin-left:440px;	
 padding:5px 11px 5px 11px;
 color:white;
 background-color: #00AFF0;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;	
 
}
.replybutton{
   margin-left:350px;	
   padding:3px 4px 3px 4px;
    color:white;
    background-color: #00AFF0;
    border:1px solid #006600;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;	
}
.reply-field{padding:5px 90px 5px 90px;}
.needhelpform{background:#E5E5E5;border:solid #b4bbcd 1px;margin-bottom:3px;}
.list-items {margin-top:12px; margin-left:34px;}
/*.list-items li {float:left;}*/
.homecontainerline{	
width:220px;
border-top:solid #aaaaaa 1px;
}
a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  clear: both;
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
}
html fieldset{
position:relative;
margin-top:1em;
padding-top: 2em;
padding-bottom:2em;
width:40%;
background:#E2E9E9;
}
label{
	width:10em;
	float:left;
	text-align: left;
	margin-right:0.2em;
	display:block;
}
legend {
   color:white;
   background:#00AFF0;
   padding:.4em 0.6em
}
/*profile styling*/
#profile-left{
  width : 34%;
  margin-left : -20px;
  margin-top : 10px;
  
}
.connectbutton
{float:left;margin-left:40px;
 padding:4px 28px 4px 28px;
 color:white;
 background-color:#00A6CC;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;	
}
.messagebutton
{
 padding:4px 28px 4px 28px;
 color:white;
 background-color:#7F7F7F;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;		
}
 .lightline{margin-left:40px;margin-top:1px;	width:400px; border-top:dotted #aaaaaa 1px;}  
.proline_separator{	
	clear:both;
	margin-left:40px;
	margin-top:10px;	
	margin-bottom:8px;
	width:255px;
    border-top:solid #e6e6e6 1px;	
	}
#profile-center {
  position : absolute;
  left:450px;
  width:25%;
  top:110px;
}
.reservebutton{
padding:4px 18px 4px 18px;
 color:white;
 background-color: #00CD00;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;		
}
.profile-name{
font-size:26px;	
font-family:"Lucida Grande";
color:#666666;
font-weight: bold;
}
.schoolname{
font-size: 18px;color:#00A6CB}
.major{font-size: 14px;color:#333333;}
.current-class{
font-size: 12px;
color:#808080;	
}
.bar-separator{	
margin-top:5px;	
border-left:solid #dedede 1px;
height:90px; 
-webkit-box-shadow:-2px -2px 3px #000;
-moz-box-shadow:-2px -2px  3px #000;	
}
.main-bar-separator{
margin-top:20px;	
border-left:solid #dedede 1px;
height:550px; 
-webkit-box-shadow:-2px -2px 3px #000;
-moz-box-shadow:-2px -2px  3px #000;	
}


	
}
.profile-wrapper{	
margin-top:5px;	
margin-left:25px;
border-right: solid #808080 1px;
height:800px;
border-top: solid #808080 1px;
border-bottom:  solid #808080 1px;
width:110%;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
-webkit-box-shadow:2px 2px 4px #000;
-moz-box-shadow:2px 2px  4px #000;
}
.middle{
position :absolute;
  left:435px;
  top:110px;	
}
.line_divider{	
	clear:both;
	margin-top:5px;	
	margin-bottom:8px;
	width:545px;
    border-top:solid #e6e6e6 1px;	
	}
.profile-titles{
	padding:6px;
	background-color:#e6e6e6;
	font-weight: bold;
	font-size: 14px;
	border-top:solid #D3D3D3 1px; 
	width:500px;
	margin-top:10px;
}
.details-title{
  margin-left:40px;
	text-align:center;
	padding:3px;
	background-color:#00AFF0;
	font-weight: bold;
	font-size: 14px;
	border-top:solid #D3D3D3 1px; 
	width:200px;
	margin-top:10px;
}
.dotted_line_divider{	
	clear:both;
	margin-top:5px;	
	margin-bottom:8px;
	width:548px;
    border-top:dotted #e6e6e6 1px;	
	}
.subject{color:#808080;font-weight:bold;}
.topic{font-weight:500;color:#626262;}
.knowledgedetails{margin-left:50px;}
.past-classes{color:#808080;font-size:12px;}
.footer{
margin-left:900px;		
font-size:11px;
list-style-type: none;
text-decoration: none;
}
.footer li{float:left;	}
.homefooter{
position:absolute;	
left:800px;	
top:795px;
font-size:11px;
list-style-type: none;
text-decoration: none;
}
.homefooter li{float:left;	}
/*search*/
.result-name{
color:#666666;
font-weight: bold;
font-size: 12px;	
}
.resultschool-name{font-size: 12px;color:#00A6CB;}
/*Inbox*/
.inbox-wrapper{	
border:1px solid #808080;	
display:block;
width:250px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;	
}
.inbox-divider{margin-top:10px;border-top:solid #00AFF0 3px;}
.inbox-bar{border-right:solid #808080 1px;margin-right:30px;height:20px;}
.inbox-content{padding:30px;background:#B4BBCD;}
/*Account setting*/
.setting-wrapper{
background-color:#E2E9E9;
position: absolute;
left:450px;
top:20px;	
border:1px solid #dedede;	
display:block;
width:500px;
height:400px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
.setting-line{
	margin-top:5px;	
	width:500px;
    border-top:solid #dedede 2px;
}
.setting-wrapper h4{
	padding:5px;
	background-color:#00AFF0;
	width: 200px;
	margin-left:130px;
}
.delete-account-button{
	margin-left:170px;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#E3545D;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.setting-dotted-line{
	margin-left:110px;
	margin-top:5px;	
	width:250px;
    border-top:dotted #D1D3CC 1px;
}
