/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body,html {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
  overflow:hidden;
  width: 100%;
  min-width: 600px;
  height:100%;
}
.registration{
position:absolute;	
background:#EAEFF0;	
font-size: 14px;
margin-left:6%;
top :15%;
width : 42%;
-moz-border-radius:    5px;
-webkit-border-radius: 5px;
border-radius:         5px;
}

.header-wrapper{margin-left:3%;margin-bottom:10px;margin-top:15px;min-width:800px;}
.logo{height:70px;width:160px;float:left;margin-top:-15px;}
.titleline{margin-top:1px;	width:60px; border-top:solid #aaaaaa 1px;}
.headerline{
clear: both;	
margin-left: 0px;	
margin-top:0px;	
width:100%;
border-top:solid #07A7D8 2px;	
}
.footerline{	
margin-left: 10%;
margin-right:10%;	
margin-top:3%;	
width:80%;
border-top:solid #07A7D8 2px;	
}
.line_separator{	
	margin-top:4px;	
	margin-bottom:4px;
	width:335px;
    border-top:solid #e6e6e6 1px;	
	}
a.classlink{color:#0000FF;}
.classlink a:hover{
  color:#3b5998; 
  text-decoration:underline; 
}
.classlink a:link{color:#3b5998; text-decoration:none;}
.classlink a:visited{color:#3b5998; text-decoration:none;}
.round {
  padding:5px;	
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}
.fade{
	color:#808080;
	font-size:small;
	font-weight:500;
}

.menu_item{
   	zoom: 1;
   width:179px;
   border-bottom: 1px solid white;
   padding: 2px;
   text-decoration: none;	
   }  
 .menu_item:hover{
     background-color: #EFF2F7;
   text-decoration: none;	
    }
#left{float:left;
  margin-left:3%;
  padding-right:5px;
  width : 340px;
  margin-top : 10px;
 min-width:20%;
}

.searchfield{ 
float:left;	
-moz-border-radius:5px;
-webkit-border-radius:5px;
 border-radius:5px;
 padding:10px;
 }
.firstname{color:#0000FF;}
.full_name {
font-weight:bold;
color:#3299CC; 
}
a.full_name:visited {
color:#3299CC; 
text-decoration:none; 
}
a.full_name:hover {
color:#3299CC; 
text-decoration:underline; 
}
.booktitle{color:#6f6fff;}
.reserve{color:red;font-size:11px;}
.deletebook a:link {
color:#808080; 
text-decoration:none; 
}
.listbook{list-style-type:none;margin-left:-40px; }
.deletebook{font-weight:400;font-size:11px;} 
.deletebook  a:visited {
color:blue; 
text-decoration:none; 
}
.addbook-field{
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;	
 padding:9px;
 font-size:15px;
}
.deletebook  a:hover {
color:#3b5998; 
text-decoration:underline; 
}
.backbutton{
	margin-left:140px;
	margin-top:40px;
	float:left;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#00AFF0;
    border:none;
    font-weight:bold;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.savebutton{
	
	margin-top:40px;
	float:left;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#00AFF0;
    border:none;
    font-weight:bold;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.declinebutton{
	float:left;
    padding:5px 6px 5px 6px;
    color:white;
    background-color:#B4BBCD;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.acceptbutton{
	float:left;
    padding:5px 6px 5px 6px;
    color:white;
    background-color:#4CC639;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.sold-button{
	float:left;
    padding:5px 6px 5px 6px;
    color:white;
    background-color:#E2555A;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.addbookbutton{
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#5388C1;
    border:none;
    font-weight:bold;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(#5388C1),to(#50749B) );
    background-image:-moz-linear-gradient(0% 100% 0deg,#00AFF0,#5686DC);
    }
 
.searchbutton{
  position:absolute;
  float:left;
	padding:10px 20px 10px 20px;
    color:white;
    background-color: #00AFF0;
    border:none;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
   background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(#00AFF0),to(#5686DC) );
  background-image:-moz-linear-gradient(0% 100% 0deg,#00AFF0,#5686DC);
}
.searchbutton:hover{
 background-color: #00AFF0;	
 -webkit-box-shadow:0px 0px 8px #000;-moz-box-shadow:0px 0px  8px #000;
}
.headerbox{
	margin-top:20px;
	margin-left:140px; 
}
.sign_up_button{
 padding:5px 9px 5px 9px;
    color:white;
    background-color: #75C639;
    border:none;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
   background-image:-webkit-gradient(linear,50% 0%, 50% 100%,from(#75C639),to(#7CED64) );
  background-image:-moz-linear-gradient(0% 100% 0deg,#75C639,#7CED64);
}
.sign_up_button :hover{#7CED64;}

.side-box{
margin-top:10px;	
border:1px solid #dedede;	
display:block;
width:340px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}

.side-box h4{
background-color:#00AFF0;	
padding:6px;
margin-top: 0px;
 background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(#00AFF0),to(#5686DC) );
 background-image:-moz-linear-gradient(0% 100% 0deg,#00AFF0,#5686DC);
}
.sidebox-content{
padding-left: 4px;	
color: #00AFF0; 
text-decoration:none; 
margin-left: 4px;
}
a.sidebox-content:hover {
color: #00AFF0;
text-decoration:underline; 
}
a.sidebox-content:link {
color: #00AFF0; 
text-decoration:none; 
}
a.sidebox-content:visited {
color: #00AFF0; 
text-decoration:none; 
}



/*#right{
  position :absolute;
  margin-right:20%;
  margin-left:70%;
  margin-top :10px;
  width : 10%;
}*/
.right-side-box{
margin-top:10px;	
border:1px solid #dedede;	
display:block;
width:340px;
height:250px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
.right-side-box h4{
background-color:#dedede;	
padding:8px;
margin-top: 0px;
}
.needhelp {
	padding-left:3px;
	text-decoration:none;
	font: 12px Tahoma;
	font-weight:bold;
	color: #00AFF0;
}
.needhelp a:hover{
	color:#3b5998; 
  text-decoration:underline; 
}
.needhelp a:link{color:#3b5998; text-decoration:none;}
.needhelp a:visited{color:#3b5998; text-decoration:none;}
#center {
  float:left;
  width:20%;
  margin-top:10px;
  height:100%;
}
.container{height:100%;
margin-top:3px;	
border:2px solid #dedede;	
display:block;
width:600px;

-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
.fieldbackground{background:#EFF2F7; }
#general-field{	
margin-left:35px;		
margin-top:2px;	
border: 5px solid #eee; padding: 5px; width: 500px;
}
.responsebutton{	float:left;
 padding:3px 10px 3px 10px;
 color:#55555E;
 background-color: #AAB1A9;
 border:black;
 font-weight:300;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 background-image:-webkit-gradient(linear,50% 0%, 50% 100%,from(#AAB1A9),to(#F7F8F6) );
 background-image:-moz-linear-gradient(0% 100% 0deg,#AAB1A9,#F7F8F6);	
}
.responsebutton:hover{-webkit-box-shadow:0px 0px 5px #000;-moz-box-shadow:0px 0px  5px #000;background:#31C918;color:white;}
.post-content{position:absolute;left:100px;max-width:500px; margin-top:10px;}
.postbutton{
 margin-left:480px;	
 padding:6px 18px 6px 18px;
 color:white;
 background-color: #00AFF0;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;	
 background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(#00AFF0),to(#5686DC) );
 background-image:-moz-linear-gradient(0% 100% 0deg,#00AFF0,#5686DC);
}
.postbutton:hover{background:#5686DC; }
.replybutton{
   margin-left:350px;	
   padding:3px 4px 3px 4px;
    color:white;
    background-color: #00AFF0;
    border:1px solid #006600;
    font-weight:bold;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;	
}
.reply-field{padding:5px 90px 5px 90px;}
.needhelpform{background:#E5E5E5;border:solid #b4bbcd 1px;margin-bottom:3px;}
.list-items {margin-top:12px; margin-left:34px;}
/*.list-items li {float:left;}*/
.homecontainerline{	
width:220px;
border-top:solid #aaaaaa 1px;
}
a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  clear: both;
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}
#progress{width:45%;}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
}
html fieldset{
position:relative;
margin-top:1em;
padding-top: 2em;
padding-bottom:2em;
width:40%;
background:#E2E9E9;
}
label{
	width:10em;
	float:left;
	text-align: left;
	margin-right:0.2em;
	display:block;
}
legend {
   color:white;
   background:#00AFF0;
   padding:.4em 0.6em
}
/*profile styling*/
#profile-left{
padding-right:5px;	
 float:left;	
  width : 20%;
  margin-left :3%;
  margin-top : 10px;
  min-width:400px; 
}
.profile-wrapper{
border: solid #808080 1px;
width:1000px;		
margin-top:5px;	
/*border-right: solid #808080 1px;*/
height:700px;
/*border-bottom:  solid #808080 1px;*/
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
-webkit-box-shadow:0px 0px 4px #000;
-moz-box-shadow:2px 2px  4px #000;
}
.connectbutton
{float:left;margin-left:40px;
 padding:4px 28px 4px 28px;
 color:white;
 background-color:#00A6CC;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;	
}
.messagebutton
{
 padding:4px 28px 4px 28px;
 color:white;
 background-color:#7F7F7F;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;		
}
 .lightline{margin-top:1px;width:400px; border-top:dotted #aaaaaa 1px;}  
.proline_separator{	
	clear:both;
	margin-left:9%;
	margin-top:10px;	
	margin-bottom:8px;
	width:255px;
    border-top:solid #e6e6e6 1px;	
	}
#profile-center {
  float:left;
  width:28%;
  margin-top:10px;
  min-width:0px;
}
.reservebutton{
padding:4px 18px 4px 18px;
 color:white;
 background-color: #00CD00;
 border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;		
}
.profile-name{
font-size:26px;	
font-family:"Lucida Grande";
color:#666666;
font-weight: bold;
}
.schoolname{
font-size: 18px;color:#00A6CB}
.major{font-size: 14px;color:#333333;}
.current-class{
font-size: 12px;
color:#808080;	
}
.bar-separator{	
margin-top:5px;	
border-left:solid #dedede 1px;
height:90px; 
-webkit-box-shadow:-2px -2px 3px #000;
-moz-box-shadow:-2px -2px  3px #000;	
}
.main-bar-separator{
margin-top:20px;	
border-left:solid #dedede 1px;
height:550px; 
-webkit-box-shadow:-2px -2px 3px #000;
-moz-box-shadow:-2px -2px  3px #000;	
}
.middle{
  padding-right:5px;	
  float:left;	
}
.line_divider{	
	clear:both;
	margin-top:5px;	
	margin-bottom:8px;
	width:545px;
    border-top:solid #e6e6e6 1px;	
	}
.profile-titles{
	padding:6px;
	background-color:#e6e6e6;
	font-weight: bold;
	font-size: 14px;
	border-top:solid #D3D3D3 1px; 
	width:500px;
	margin-top:10px;
}
.details-title{
	text-align:center;
	padding:3px;
	background-color:#00AFF0;
	font-weight: bold;
	font-size: 14px;
	border-top:solid #D3D3D3 1px; 
	width:300px;
	margin-top:10px;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(#00AFF0),to(#5686DC) );
    background-image:-moz-linear-gradient(0% 100% 0deg,#00AFF0,#5686DC);
}
.dotted_line_divider{	
	clear:both;
	margin-top:5px;	
	margin-bottom:8px;
	width:548px;
    border-top:dotted #e6e6e6 1px;	
	}
.subject{color:#808080;font-weight:bold;}
.topic{font-weight:500;color:#626262;}
.knowledgedetails{margin-left:50px;}
.past-classes{color:#808080;font-size:12px;}
.footer{
margin-top:0%;	
margin-left:60%;		
font-size:11px;
list-style-type: none;
text-decoration: none;
}
.footer li{float:left;	}
.homefooter{
position:absolute;	
left:800px;	
top:795px;
font-size:11px;
list-style-type: none;
text-decoration: none;
}
.homefooter li{float:left;	}
/*search*/
.result-name{
color:#666666;
font-weight: bold;
font-size: 12px;	
}
.resultschool-name{font-size: 12px;color:#00A6CB;}
/*Inbox*/
.inbox-wrapper{	
margin:10px auto;	
border:2px solid #808080;	
display:block;
width:95%;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;	

}
.inbox-divider{margin-top:10px;border-top:solid #00AFF0 3px;}
.inbox-bar{border-right:solid #808080 1px;margin-right:30px;height:20px;}
.inbox-content{
border:solid #00AFF0 1px;
background:#E5E9EB;width:90%;margin:10px auto;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
.inbox-dotted-line{	
	clear:both;
	margin-top:5px;	
	margin-bottom:8px;
	width:500px;
    border-top:dotted #808080 1px;	
	}
.inbox-button{
margin-top:5px;	
float:left;	
padding:3px 4px 3px 4px;
color:#000;
background-color: #B4BBCD;
border:1px solid #006600;
 font-weight:bold;
 -moz-border-radius:0px;
 -webkit-border-radius:0px;
border-radius:0px;
}
/*Account setting*/
.setting-wrapper{
background-color:#E2E9E9;
position: absolute;
left:450px;
top:20px;	
border:1px solid #dedede;	
display:block;
width:500px;
height:400px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
.setting-line{
	margin-top:5px;	
	width:500px;
    border-top:solid #dedede 2px;
}
.setting-wrapper h4{
	padding:5px;
	background-color:#00AFF0;
	width: 200px;
	margin-left:130px;
}
.delete-account-button{
	margin-left:170px;
    padding:5px 8px 5px 8px;
    color:white;
    background-color:#E3545D;
    border:1px solid #006600;
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.setting-dotted-line{
	margin-left:110px;
	margin-top:5px;	
	width:250px;
    border-top:dotted #D1D3CC 1px;
}
/*sign in*/
.sign-background{
width:70%;	
margin-top:10px;
margin-left:1%;	
background:#00AFF0;
padding:40px;
height:270px;
-webkit-box-shadow:0px 10px 15px #000;
-moz-box-shadow:0px 10px  15px #000;
-moz-border-radius:    5px;
 -webkit-border-radius: 5px;
 border-radius:         5px;
 background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(#00AFF0),to(#10285C) );
 background-image:-moz-linear-gradient(0% 100% 0deg,#00AFF0,#10285C );
}
#sign-in-form{z-index:1;
	background:#fff;
	color:#65686C;
	width:300px;
	border:solid #E2E9E9 3px ;
}
#sign-in-form h3{padding:5px;background:#E2E9E9;margin-top:0px;}
.login-line{border:solid #424667 2px ;width:150px;margin-bottom:10px;}
.login-headline{border-top:solid white 3px;width:480px;}
.login-bullets{margin-left:0%;margin-top:10px;font-family: "Century Gothic";font-size:12px;color:white;list-style-type: none;position:fixed;}
.login-bullets li{float:left;}
/*.fblogin{width:300px;height:40px;}*/
.sign-in-dotted{border-top:dotted #808080 1px;width:300px;}
 /*.sign-in-body{background:#E2E9E9;padding:50%;height:50%;}*/
.login-bold-text{
position:absolute;
left:16%;top:12%;
color:white;
font-size:24px;
font-family:"Bookshelf Symbol 7";  
font-weight:bolder}
