/*landing page*/

.land-background{
width:1000px;	
margin-top:10px;
margin-left:18%;	
background:#00AFF0;
padding:40px;
-webkit-box-shadow:0px 10px 15px #000;
-moz-box-shadow:0px 10px  15px #000;
-moz-border-radius:    5px;
 -webkit-border-radius: 5px;
 border-radius:         5px;
 background-image:-webkit-gradient(linear,0% 50%,100% 50%,from(#00AFF0),to(#10285C) );
 background-image:-moz-linear-gradient(0% 100% 0deg,#00AFF0,#10285C );
}
.arrow{margin-left:18%;margin-top:10px;font-family: "Century Gothic";font-size:x-large}
.landpage-sign-button{
 margin-left: auto;
  margin-right: auto;
  border:none;
  opacity:100px;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #75C639;
  font-size: 150%;
  font-weight: bolder;
  padding: 20px;
  -moz-border-radius:    5px;
 -webkit-border-radius: 5px;
 border-radius:         5px;
 background-image:-webkit-gradient(linear,50% 0%, 50% 100%,from(#75C639),to(#7CED64) );
  background-image:-moz-linear-gradient(0% 100% 0deg,#75C639,#7CED64);
}
.landpage-sign-button:hover{-webkit-box-shadow:0px 0px 30px #000;-moz-box-shadow:0px 0px  30px #000;}
.roundlandfield{
-moz-border-radius:    5px;
 -webkit-border-radius: 5px;
 border-radius:         5px;
 padding:15px;
 font-size:24px;
}
.landing-text{color:white;font-size:24px;font-family:"Bookshelf Symbol 7";  font-weight:bolder;}
.landpagelogo{height:70px;width:160px;margin-left:15%;}
.landheadline{border-top:solid white 2px;width:310px;}

