<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <%= stylesheet_link_tag 'application', :debug => Rails.env.development? %>
  <%= csrf_meta_tag %>

  <% yield :head %>
  <%= require_javascript *@javascript %>

  <script type="text/javascript">
  </script>
</head>

<body>
  <%= yield %>
</body>
</html>
